# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Dados baixados (grandes)
data/raw/*.csv
data/raw/gas_sensor_drift/

# Resultados gerados
results/
*.png
*.jpg

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
